.about-illstration-container{
    /* background-image: url("../assets/dot-cut.png"); */
    background-color: #FCFCFC;
    position: relative;
    top: 6.3rem;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    padding: 4rem 4rem 1rem 4rem;
  

    
}

.about-illstration-caption{
    margin: 0 auto;
    width: 50%;
}
.qoute{
    font-style: italic;
    font-size: 32px;
    font-weight: 430;
   

}


.about-illstration-caption p{
    float: right;   
}

.Edu-container-one{
    margin-bottom: 3rem;
}
.Edu-Cer-container{
    padding: 3rem 4rem 0rem 4rem;

}

.Edu-Cer-container h3{
    font-size: 14pt;
}


.Edu-Cer-container p{
    font-size: 12pt;
}



.edu-contant{
    display: flex;
  

}


.edu-contant> div {

    margin: 1px;

    
  }

  @media only screen and (max-width: 700px) {
    .header{
        display: none;
    }
    .about-illstration-container{
        top: 4.8rem; 
        padding: 3rem 2rem 1rem 2rem;
    }

    .about-illstration-caption{
        margin: 0 auto;
        width: 90%;
    }
    .Edu-Cer-container{
        padding: 2rem 2rem 0rem 2rem;
    
    }

    .Edu-Cer-container h3{
        font-size: 12pt;
    }

    .Edu-Cer-container p{
        font-size: 10pt;
    }

  }


