.art-container{
    padding: 0rem 4rem 5rem 4rem;
}
.art-projects-contants{
padding: 1rem 0rem 3rem 0rem  ;
} 

.art-img-projects-contants{
  padding: 1rem 0rem 3rem 0rem  ;
}

.art-illstration-container{
    background-image: url("../assets/dot-cut.png");
    background-color: #FCFCFC;
    position: relative;
    top: 3rem;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    padding: 0rem 2rem 0rem 4rem;
  
}

.category-intro{
  font-size: 32px;
  font-weight: 430;
}

.art-illstration-caption{
    float: left;
  
    width: 70%;
    height: 100%;
    padding-top:3.2rem;
    
  
  }

  .pic2{
    display: none;
  }
  
  .pic1{
    display: block;
  }
  
  .artDrawing{
    float: right;
    width: 20%;
    height: 100%;
    position: relative;

  margin-right: 1rem;
    
    
  }



  @media only screen and (max-width: 880px){
    

    .art-illstration-container{
      padding: 2em 2.11em 1em 1em;
    }
    .art-illstration-caption{
      float: left;
    
      width: 65%;
      height: 100%;
        padding: 0.7em 2em 2em 3em;
      
    
    }

    .artDrawing{
      float: right;
      width: 30%;
      height: 100%;
      position: relative;
   
      right: 0;
      top: 0;
    }

  }



  @media only screen and (max-width: 700px) {
    .header{
      display: none;
  }
  .category-intro{
    font-size: 22px;
    font-weight: 430;
  }
  
  .art-img-projects-contants{
    padding: 2rem 0rem 5rem 0rem  ;
  }
  .art-projects-contants{
    padding: 2rem 0rem 0rem 0rem  ;
  }
    .art-container{
        padding: 0rem 2rem 0rem 2rem;
    }
    .art-illstration-container{
        position: relative;
        top: 4.8rem;
        height: 70vh;
        padding: 0rem 1rem 7rem 1rem;
        background-image: url("../assets/dot-cut.png");
         background-color: #FCFCFC;
       
        
        
      }

      .art-illstration-caption{
        float: none;
      
        width: 100%;
        height: 100%;
          padding: 0rem 1rem 0rem 1rem;
          /* border:red solid 3px; */
      
      }
      .pic1{
        display: none;
      }
      .pic2{
        display: block;
      }
      
      .artDrawing{
       margin: 0 auto;
        float: none;
        width: 100%;
        height: 95%;
          /* border:red solid 1px; */
        position: relative;
        margin-top:0.5rem ;
        right: 0;
        top: 0px;
      }
    }