.card-container {
  background-color:  #FCFCFC;
  max-width: 42vw;

  /* padding-bottom: 1rem; */

}


.card-img {
  
  width: 100%;
  object-fit: cover;
 height: max(17rem, 30vh);
  max-height: max(rem, 35vh);
 


}


h2 {
  font-size: 20px;
}

.category {
   color: #818181;
  font-size: 16px;
  font-weight: 600;
 margin-top:-10px;
}

.card-btn {
  margin-top: 7rem;
  background: #519B72;
  border-radius: 6px;

  font-size: 16px;
  font-family: "Raleway";
  color: #0a0a0a;
 

  padding: 11px 27px;
}
.card-btn:hover {
  cursor: pointer;

  box-shadow: 2px 2px #32302d;

  transform: translate(-3px, -3px);

  border-bottom-right-radius: 5px;
}


@media only screen and (max-width: 1000px){
  .card-container {
    background-color:  #FCFCFC;
    
   max-width: 100%;
    /* padding-bottom: 1rem; */
  
  }
}

@media only screen and (max-width: 700px) {
  .card-container {
    background-color:  #FCFCFC;
    
   max-width: 100%;
    /* padding-bottom: 1rem; */
  
  }
  h2 {
    color:#32302d;
    font-size: 18px;
  }

  .category{
    font-size: 15px;
  }

  
  .card-btn {
    margin-top: 2em;
    background: #519B72;
    border-radius: 6px;
    color: #0a0a0a;
    font-size: 16px;
    font-family: "Raleway";
  
  
 
    padding: 11px 27px;
  }
}
