.contactIconMobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .contactIconMobile {
    display: block;
    z-index: 1;
    position: fixed;

    border-radius: 50px;
    background-color: #e8c559;
    border: 3px solid #32302d;
    background-image: url("../assets/contactIconSmall.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;

    width: 60px;
    height: 60px;
    background-size: 30px;
    right: 20px;
    bottom: 5vh;
  }
}
