* {
    box-sizing: border-box;
  }
  
 

  .footer{
    background-color: #E8C559;
    color: #32302d;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    padding: 1em;
   
  }


  .footer p{
font-size: 20px;
  }



  @media only screen and (max-width: 700px) {
    .footer{
      position: absolute;
      left: 0;
      text-align: center;
   top: 142.8rem;
      width: 100%;
      
      
    
  
    }


    .footer p{
      font-size: 16px;
        }
      
  }
