* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    position: absolute;
    height: 172px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* Primary/Green */
    
    background: #3E8F62;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 201px;
    height: 79px;
    left: calc(50% - 201px/2 + 0.5px);
    top: 27px;
}


nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 77px;
    
    position: absolute;
    width: 517px;
    height: 15px;
    left: calc(50% - 517px/2 - 0.5px);
    top: 120px;

}

nav a {
    color: #F9F9F9;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #F9F9F9;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}