* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  font-style: normal;
}
/* .contactIcon{

  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 50px; 
  border-radius: 50px;
 background-color: #e8c559;
 border: 3px solid #32302d;
  background-image: url("../assets/contactIconSmall.png");
  background-position:center;
background-repeat:no-repeat;
background-size: 35px;
width: 70px;
height: 70px;
padding: 2px;
}

a {
  color:  black;
  text-decoration: none;
}

a:hover {
  color: black; 
  text-decoration:none; 
  cursor:pointer;  
}
.contactIcon>.pInBtn{

  overflow:auto;
  overflow: hidden;
margin: 0;
  padding-left: 60px;
  padding-top: 18px;

font-size: 20px;
font-family: "Raleway";
font-weight: 600;

} */



.contactIcon:hover {
  cursor: pointer;
 width:200px;
  
  display: inline-block;

  background-position:  12px ;

  overflow: hidden;
  

  border-radius: 50px;
  transform: none;
  box-shadow: none;
}







.container {
  background-image: url("../assets/dot-cut.png");
  background-color: #cee7cd;
  position: relative;
  top: 10.8rem;
}

.name-card {
  padding: 2rem 4rem 3rem 4rem;
}

.name-card,
h1 {
  font-size: 24px;
}

.name-card,
p {
  font-size: 20px;
 
}

button {
  float: right;
  background: #e8c559;
  /* Primary/Black */
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 600;
  border: 3px solid #322d2d;
  border-radius: 10px;
  padding: 12px 24px;
  color: #0a0a0a;
}

button:hover {
  cursor: pointer;

  box-shadow: 2px 2px #32302d;

  transform: translate(-3px, -3px);

  border-bottom-right-radius: 10px;
}
.name-card::after {
  content: "";
  clear: both;
  display: table;
}
.lastest-projects-container {
  
  padding: 14rem 4rem 7rem 4rem;

}

.lastest-projects-contants h1 {

  font-size: 24px;
}
.Cards-container {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 2rem 0rem 0rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 2fr));
  grid-gap: 5rem;
  max-width: 100%;
 
  



}



@media only screen and (max-width: 700px) {
  .header{
    display: none;
}
  .container {

    
    top: 4.8rem;

    background-image: url("../assets/dots-background.png");
    background-color: #cee7cd;
  }
  .name-card {
    padding: 2rem 2rem 3rem 2rem;
  }
  .name-card,
  h1 {
    font-size: 20px;
    color:#32302d;
  }

  .name-card,
  p {
    font-size: 16px;
  }

  button {
    background: #e8c559;
    /* Primary/Black */
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 600;
    border: 2px solid #32302d;
    border-radius: 6px;
    padding: 10px 18px;
    align-items: flex-end;
    right: 16px;
  }

  button:hover {
    border-bottom-right-radius: 6px;
  }
  .lastest-projects-contants {
    display: flex;
    flex-direction: column;
    
      width: 100%;
   
    /* justify-content: center; */
    /* align-items: flex-start; */
  
  
    padding: 7.5rem 2rem 0rem 2rem;
  }

  .lastest-projects-container {
    
    padding: 0rem 0rem 0rem 0rem;
  
  }
  .Cards-container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 1em 0em 7em;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 2fr));
    grid-gap: 5rem;
    max-width: 100%;
    width: 70ch;
    
    margin-left: 0rem;
    margin-right: 0rem;
  
  }

  .lastest-projects-contants h1 {

    font-size: 20px;
    color:#32302d;
  }
}


