* {
  box-sizing: border-box;
}

.row {
  margin-top: 4.2em;
  width: 100%;
  height: 84vh;
  position: relative;
  overflow: hidden;
}

.intro-bg {
  float: left;

  width: 50%;
  height: 100%;
  background-image: url("../assets/dot-cut.png");
  background-color: #cee7cd;
}
.cat{  font-weight: 600;  }
.brif-intro{
  margin-bottom: -0.2rem;
  margin-top: -1rem;

  font-size:22px  ;
}
.intro {
  padding: 12rem 4rem 0rem 4rem;
}

.para{
  margin-top: 0.8rem;
  font-weight: 600;
  /* font-size:20px  ;
  font-weight: 600; */

}
.title{
  margin-top: -1.4rem;
  font-size: 42px;
  padding-bottom: 0.5rem;
 
}


.overview-img-container {
  float: right;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.video-wrapper {
  position: relative;
  padding-top: 56.25% 

  /* Player ratio: 100 / (1280 / 720) */
}

.react-p {
  position: absolute;
  top: 3rem;
  padding: 2rem 4rem 3rem 4rem ;
  
  

}



.about-project p{
  font-size: 16px;
  font-weight: 500;
}

.proj-ul{
  font-weight: 500;
  list-style-type: circle;

}

@media only screen and (max-width: 700px) {

  .react-player {
    position: absolute;
    top: 4.8rem;
    left: 0;
    
 
  }

  .react-p {
    position: absolute;
    top: 3rem;
    padding: 0rem 2rem 3rem 2rem ;
    
    
  
  }
  .project-pictures {
    
/* padding: 0rem 3rem 0rem 0rem; */
  
  
  }
}


.about-project-container {
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
}

.about-project {

  margin: 0 auto;
  width: 50%;
}

.h2-headers{
margin-top: 2rem;
}
.h1-headers{
  margin-top: 3rem;
}
.project-pictures-bg{
    padding: 3rem 4rem 3rem 4rem;
    /* border: red solid 5px; */
   
}

.project-pictures {
    
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 2fr));
  /* grid-gap: 5rem; */
  row-gap:2rem ;
  column-gap:4rem ;
  max-width: 100%;
  /* width: 128ch; */
  /* border: red solid 5px; */


}

.img-frame {

width: 100%;

background-color: rgb(255, 255, 255);

}

.img-pro{
    display: block;
    width: 100%;
    height: max(20rem, 30vh);
    max-height: max(rem, 35vh);
    object-fit: contain;
}


.related-projects-container {
  
  padding: 2rem 4rem 3rem 4rem;

}



@media only screen and (max-width: 700px) {
  .title{
    margin-top: -1rem;
    color:black;
    font-size: 32px;
  }
  .brif-intro{
    margin-bottom: -0.2rem;
    margin-top: -1rem;
    font-size:18px  ;
  }
  .cat{
    font-weight: 600;
    font-size:14px  ;
  }
  .para{
    font-weight: 600;
    font-size:14px  ;
  }
  .proj-ul li{
    color:black;
    list-style-type: circle;
  }
  .header{
    display: none;
}
  .row {
    margin-top: 4.8em;
    height: 60%;
    width: 100%;
    
  }  
  .intro-bg{
  float: none;
  width: 100%;
  height: 60%;
  padding-top: 13em;
  padding-bottom: 1rem;
}

.overview-img-container{
  float: none;
  width: 100%;
  height: 45%;
}

.intro {
  padding: 2.5em 2em 2em 2em;
}

.about-project {
  
  width: 100%;
  padding: 0em 2em 0em 2em;
}


.related-projects-container {
  
  padding: 2rem 2rem 0rem 2rem;

}

.project-pictures-bg{
  padding: 1rem 2rem 3rem 2rem;
  /* border: red solid 5px; */
 
}


}