.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 12rem;
    left: 0;
    
 
  }


  @media only screen and (max-width: 700px) {

    .react-player {
      position: absolute;
      top: 4.8rem;
      left: 0;
      
   
    }

  }